/*adding the fonts used in the portfolio*/
/*ajout des polices d'écriture du portfolio*/

@font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/Josefin_Sans/Josefin-Sans.ttf") format("woff2"); 
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway.ttf") format("woff2");
}

/*animation de défilement*/
/*scrolling animation*/
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*{
    margin:0;
    padding:0;
}

body{
    background-color: #5e4330;
    color:white;
    text-align: center;
    font-family: "Raleway";
}

/*afifchage général de la barre de navigation*/
/*navbar display settings*/

@media (min-width:910px){
    .nav-mobile{
        display:none;
    }

    .nav-cat-con{
        visibility:visible;
    }
    
    nav, .titles{
        font-family : "Josefin Sans";
    }

    nav{    

        /*size settings*/
        position: fixed;
        top: 0px; /*modfied by the js*/
        width : 100%;

        /*elements positioning settings*/
        display:flex;
        justify-content: space-between;
        align-items: center;

        /*visibility and aesthetism details*/
        background-color: #cac3ba;
        color:black;
        box-shadow: 0px 5px 7px black;

        /*animation settings*/
        transition : top 0.1s ease-in-out;
        
    }

    .contacts, .categories{
        list-style : none;
        display: flex;
        max-width:35%;
        padding:0;
    }

    .desktop{
        display:flex;
        align-items: center;
    }

    .mobile{
        display:none;
    }

    .categories li{
        margin:0 1.5rem;
        width:30%
    }

    .socials, .icons{
        width:3.5rem;
        margin:0.8rem;
        transition: width 0.2s ease-in-out
    }

    .socials:hover, .icons:hover{ 
        width:3.7rem;
        vertical-align: middle;
    }

    .mobile{
        display:none;
    }
}

@media (max-width:910px){
    
    nav, .titles{
        font-family : "Josefin Sans";
    }

    .nav-mobile{
        position: fixed;
        top: 0px;
        width : 100%;

        /*elements positioning settings*/
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        /*visibility and aesthetism details*/
        background-color: #cac3ba;
        color:black;
        box-shadow: 0px 5px 7px black;

        /*animation settings*/
        transition : top 0.1s ease-in-out;
    }

    nav{    
        display: flex;
        flex-direction:column;
       
        /*size settings*/
        position: fixed;
        top: 0;
        right:0;

        /*visibility and aesthetism details*/
        background-color: white;
        opacity: 70%;
        color:white;
        box-shadow: 0px 5px 7px black;
        align-items: center;


        /*animation settings*/
        animation : idkBro 3s ease-in 0s 1 normal;

        width:80%;
        
    }

    .desktop{
        display:none;
    }

    .nav-cat-con{
        list-style : none;
        top : 90px;
    }

    .categories li{
        margin:0 1.5rem;
        width:80%
    }

    .socials, .icons{
        width:3.5rem;
        margin:0.8rem;
        transition: width 0.2s ease-in-out

    }

    .socials:hover, .icons:hover{ 
        width:3.7rem;
        vertical-align: middle;
    }
}

/*paramètres d'affichage des footers*/
/*footer display settings*/
footer{
    background-color: #c08552;
    color:black;
    margin-bottom:-30px;
    border-top: solid 3px black;
    padding-bottom: 3px;
}


/*paramètres d'affichage de l'introduction à la page*/
/*display settings relative to the introduction*/
.introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.namePic {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* center image and h1 */
  text-align: center;
}

.namePic h1 {
  margin-bottom: 1rem;
}

.presentation {
  flex: 1;
  font-size: 1rem;
  line-height: 1.6;
}

.introduction img{
    height:250px;
}

#aboutMe{
    background:#5e4330;
}

/*paramètre d'affichage des projets*/
/*display settings relative to the projects*/

.projectGrid{
    display:grid;
    grid-template-columns: 1fr;
    /*
    j'ai choisi de conserver un affichage "grid" pour le moment où j'aurais plus de projets à afficher.
    i chose to keep a grid display for when i have more projects to present.
    */
    width : 75%;
    margin:auto;
}

.projectGrid img{
    width : 50%;
    margin:auto;
    vertical-align: top;
    transition: width 0.4s ease;
}

.projectGrid img:hover{
    width : 60%;
    margin:auto;
    vertical-align: top;
}

.projectGrid
{
    vertical-align: bottom;
}

/*paramètres d'affichage des liens*/
/*display settings relative to most links*/
a {
    color : initial;
    text-decoration: initial;
}

.introduction, #aboutMe, #skills, #work, #projects{
    
    align-items: center;
    height:100vh;
    border-top:solid 3px black;
    padding:1rem;
}

#aboutMe, #skills, #work, #projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

/*paramètre d'affichage de certains liens en particulier*/
/*display settings of specific links*/

.visible-links{
    font-style: italic;
    text-decoration: underline;
    
}

.visible-links:hover{
    color:#cac3ba;
}

.projectLinks{
    color:white;
}

.projectLinks:hover{
    color:white;
    text-decoration: underline;
}

progress{
    width: 100%;
    height: 20px;
    appearance: none; /* remove default styles */
    border: solid white;
    background-color: #cac3ba;
    border-radius: 10px;
    overflow: hidden;
}

progress::-moz-progress-bar {
     background: #c08552; 
}



