body{
    background-color: #c5a8db;
}


@font-face{
    font-family: "Josefin Sans";
    src:
        local("Josefin Sans"),
        url("https://fonts.google.com/selection?selection.family=Josefin+Sans:ital,wght@0,100..700;1,100..700") format("ttf");
}


.titles{
    font : "Josefin Sans";
}

nav{
    
    text-align: center;
    display:flex;
    justify-content: space-between;
    background-color: white;
    padding:0 6rem 0;
}

.nav-contacts{
    list-style : none;
    display: inline;
}

